/* 
    Document   : StyleSheet
    Created on : 25/09/2014, 11:13:05
    Author     : Rodrigo Jimnez
    Description: 
        Purpose of the stylesheet follows.
*/

* { 
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    background-color: #222222;
}

.navbar {
    background-color: #00B800;
}

.navbar-header {

}

.navbar-menu {

}
